
  /* body{

  } */
.content{
    height: 70%;
    width: 100%;
    background-color: rgb(201, 192, 177);
    
    
} 
.heading2{
    align-self: center;
    color: rgb(31, 57, 35);
    font-size: 50px;
    word-wrap: break-word;
    width: 39%;
}

.logo{
    display: flex;
    align-items: end;
} 
.top{
    padding: 0 15px;
}
.main{
    display: flex;
    margin:7% 23%;
    /* justify-content: space-evenly; */
}
.table{
    height: 50vh;
    background-color: rgb(255, 249, 240);
}