
  /* body{

  } */
.content{
    height: 50%;
    width: 100%;
    background-color: rgb(201, 192, 177);
    
    
} 
.heading2{
    align-self: center;
    color: rgb(31, 57, 35);
    font-size: 50px;
    word-wrap: break-word;
    width: 18%;
}

.logo{
    display: flex;
    align-items: end;
} 
.top{
    padding: 0 15px;
}
.main{
    display: flex;
    
 justify-content: center;
}
.TableContent{
    height: 50%;
    width: 100%;
}
