
.topP{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding: 0 10px;
    }
    .format{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
.login-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 100vh;
}    
input{
    outline: none;
    border: none;
    background-color: rgb(217, 217, 217);
    padding: 5px 10px;
    font-size: 20px;
    /* width: 88%; */
}
.form-content{
    display: flex;
    flex-direction: column;
    /* margin: 14%; */
    justify-content: center;
    width: 50%;
}
.form-group{
    margin:5px 20px;
}