.top1{
    /* background-color: black; */
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100%;
    padding: 10px 0;
}
.topP{
display: flex;
width: 50%;
justify-content: flex-end;
padding: 0 10px;
}
.form{
    width: 50%;
    padding: 20px;
}